<div th:fragment="header">
    <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="home">Monitorando</a>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link link-primary" href="forum">Fórum</a>
                        </li>
                    </ul>
                    <!-- Form Switch para mudar o tema -->
                    <div class="form-check form-switch">
                        <input class="form-check-input bg-body-tertiary shadow-none" type="checkbox" id="themeSwitch"
                               onchange="toggleTheme(this)">
                        <label class="form-check-label" for="themeSwitch"></label>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
