<div th:fragment="header">

    <nav class="py-2 bg-body-tertiary fixed-top border-bottom">
        <div class="container-fluid d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav me-auto">
                <li class="nav-item">
                    <a class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none"
                       href="../classroom/classroom">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 226.8 226.8">
                            <path d="M491.8,184.3H350.1a42.5,42.5,0,0,0-42.5,42.5V368.5A42.5,42.5,0,0,0,350.1,411H491.8a42.5,42.5,0,0,0,42.5-42.5V226.8A42.5,42.5,0,0,0,491.8,184.3ZM477.6,340.2a42.6,42.6,0,0,1-42.5-42.6,14.2,14.2,0,0,0-28.3,0v42.6H378.4V297.6a14.2,14.2,0,0,0-28.3,0v42.6H321.7V297.6h0a42.6,42.6,0,0,1,42.6-42.5h0A42.1,42.1,0,0,1,392.6,266a42.1,42.1,0,0,1,28.3-10.9h0a42.7,42.7,0,0,1,42.6,42.5h0a14.2,14.2,0,1,0,14.1-14.1,13.8,13.8,0,0,0-7,1.9V255.7a40.5,40.5,0,0,1,7-.6,42.6,42.6,0,1,1,0,85.1Z"
                                  transform="translate(-307.6 -184.3)" fill="currentColor"/>
                        </svg>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-body-emphasis px-2"
                       data-bs-toggle="dropdown" href="#"
                       role="button" data-bs-auto-close="outside" aria-expanded="false">
                        <i id="icon" class="bi bi-sun-fill"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="themeDropdown">
                        <li><h6 class="dropdown-header">Tema</h6></li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="toggleTheme('light')"><i
                                    class="bi bi-sun-fill"></i> Light</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="toggleTheme('dark')"><i
                                    class="bi bi-moon-stars-fill"></i> Dark</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-body-emphasis px-2"
                       data-bs-toggle="dropdown" href="#"
                       role="button" data-bs-auto-close="outside" aria-expanded="false">@usuario
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="themeDropdown">
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-person"></i> Perfil</a>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-box-arrow-right"></i> Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
