<div class="col-lg-2 bg-body-secondary border-end shadow-sm" th:fragment="nav">
    <nav class="nav flex-column vh-100 overflow-auto">
        <ul class="navbar-nav m-3">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-house"></i> Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-chat-left-text"></i> Fórum</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('T')">
                <a class="nav-link" href="#">
                    <i class="bi bi-file-earmark-text"></i> Relatório</a>
            </li>
        </ul>
    </nav>
</div>