<div th:fragment="paging(id, sub, coments)">
    <p class="mb-1" th:text="${sub.answer}"></p>
    <form th:action="@{/submission/comment/save}" method="post" th:object="${comments}">
        <div class="form-floating my-3">
                                        <textarea class="form-control" placeholder="Leave a comment here"
                                                  th:id="'floatingTextarea'+${id}" th:field="*{comment}"></textarea>
            <label th:for="'floatingTextarea'+${id}">Comentário</label>
        </div>
        <input type="hidden" th:value="${user.uuid}" th:field="*{user.uuid}">
        <input type="hidden" th:value="${sub.uuid}" name="uuid">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-start">
                    <a th:href="@{/submission/close(id=${sub.uuid})}"
                       sec:authorize="hasAnyRole('M', 'T')"
                       class="btn btn-sm btn-outline-primary"><i
                            th:class="${sub.active ? 'bi bi-x-lg me-2' : 'bi bi-check-lg me-2'}"></i><span
                            th:text="${sub.active ? 'Fechar': 'Abrir'}"></span></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-sm btn-outline-primary"><i
                            class="bi bi-send me-2"></i>Comentar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>