<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Fórum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>

<body>

<div class="container-fluid mt-5">

    <div th:replace="fragments/header :: header"></div>

    <div class="row">

        <div th:replace="fragments/nav :: nav"></div>

        <div class="col-lg-10 col-sm-12 px-5 my-2">
            <div class="container">
                <div class="row mt-5 mb-3">
                    <div class="d-flex justify-content-end">
                        <h3>Fórum</h3>
                    </div>
                </div>
                <div class="row" sec:authorize="hasAnyRole('T', 'M')">
                    <div class="col-10">
                        <div class="container">
                            <div class="row mt-3 mb-3">
                                <div class="col d-grid gap-2">
                                    <div class="row">
                                        <div class="col">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                                    data-bs-target="#staticBackdrop"><i
                                                    class="bi bi-plus-lg me-2"></i>Adicionar
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                                 data-bs-keyboard="false"
                                                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                                                Adicionar Exercicio</h1>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form th:action="@{/topic/save}" method="post"
                                                                  th:object="${topic}">
                                                                <div class="form-floating mb-3">
                                                                    <input type="text" class="form-control"
                                                                           id="title"
                                                                           placeholder="name@example.com"
                                                                           th:field="*{title}">
                                                                    <label for="title">Título do
                                                                        Exercício</label>
                                                                </div>
                                                                <div class="form-floating">
                                                                    <input type="text" class="form-control"
                                                                           id="description"
                                                                           placeholder="name@example.com"
                                                                           th:field="*{message}">
                                                                    <label for="description">Descrição</label>
                                                                </div>

                                                                <input type="hidden" th:value="${topic.user.uuid}"
                                                                       th:field="*{user.uuid}">
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                    class="btn btn-sm btn-secondary"
                                                                    data-bs-dismiss="modal"><i
                                                                    class="bi bi-x-lg me-2"></i>Fechar
                                                            </button>
                                                            <button type="submit"
                                                                    class="btn btn-sm btn-primary"><i
                                                                    class="bi bi-check-lg me-2"></i>Cadastrar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-borderless table-hover align-middle">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="col-lg-6 col-sm-6">Tópico</th>
                                            <th scope="col" class="col-lg-3 col-sm-3">Usuário</th>
                                            <th scope="col" class="col-lg-1 col-sm-1">Contribuições</th>
                                            <th scope="col" class="col-lg-1 col-sm-1">Curtidas</th>
                                            <th scope="col" class="col-lg-1 col-sm-1"></th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-group-divider">
                                        <tr th:each="t : ${topics}">
                                            <td class="fw-bold">
                                                <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
                                                   th:text="${t.title}" th:href="@{/topic/access(id=${t.uuid})}"
                                                   sec:authorize="hasAnyRole('M', 'T')"></a>
                                            </td>
                                            <td th:text="${t.user.name}"></td>
                                            <td>7</td>
                                            <td th:text="${t.likes}"></td>
                                            <td class="d-flex justify-content-end">
                                                <ul class="nav">
                                                    <li class="nav-item dropdown dropstart">
                                                        <a class="nav-link link-body-emphasis px-2"
                                                           data-bs-toggle="dropdown" href="#"
                                                           role="button" data-bs-auto-close="outside"
                                                           aria-expanded="false"><i
                                                                class="bi bi-three-dots-vertical"></i>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-end"
                                                            aria-labelledby="themeDropdown">
                                                            <li><h6 class="dropdown-header">Ações</h6></li>
                                                            <li>
                                                                <a th:href="@{/topic/update(id=${t.uuid})}"
                                                                   sec:authorize="hasAnyRole('M', 'T')"
                                                                   class="dropdown-item"><i
                                                                        class="bi bi-pencil-square me-2"></i>Editar</a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{/topic/remove(id=${t.uuid})}"
                                                                   sec:authorize="hasAnyRole('M', 'T')"
                                                                   class="dropdown-item"><i
                                                                        class="bi bi-trash me-2"></i>Remover</a>
                                                            </li>
                                                            <li>
                                                                <hr class="dropdown-divider">
                                                            </li>
                                                            <li>
                                                                <a th:href="@{/topic/remove(id=${t.uuid})}"
                                                                   sec:authorize="hasAnyRole('M', 'T')"
                                                                   class="dropdown-item"><i
                                                                        class="bi bi-star me-2"></i>Fixar</a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{/topic/remove(id=${t.uuid})}"
                                                                   sec:authorize="hasAnyRole('M', 'T')"
                                                                   class="dropdown-item"><i
                                                                        class="bi bi-hand-thumbs-up me-2"></i>Curtir</a>
                                                            </li>

                                                            <li>
                                                                <a th:href="@{/topic/remove(id=${t.uuid})}"
                                                                   sec:authorize="hasAnyRole('M', 'T')"
                                                                   class="dropdown-item"><i
                                                                        class="bi bi-check-lg me-2"></i>Fechar</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/footer :: footer"></div>

        </div>
    </div>
</div>
</body>
</html>