<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid mt-5 py-2">
    <div class="row">
        <nav class="col-2 menu-vertical d-flex flex-column vh-100 overflow-auto" th:if="${user != null}">
            <ul class="nav flex-column" th:if="${!user.getMonitor().getClassroom().isEmpty()}">
                <li class="nav-item" th:each="class: ${user.getMonitor().getClassroom()}">
                    <span class="nav-link" href="#" th:text="${class.getClassName()}"></span>
                    <ul class="nav flex-column">
                        <li class="nav-item" th:each="exercise: ${class.getExercise()}">
                            <a class="nav-link link-secondary ms-3" href="#" th:text="${class.getClassName()}"></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="row mt-3" th:if="${user.getMonitor().getClassroom().isEmpty()}">
                <div class="col">
                    <div class="alert alert-secondary" role="alert">No Class</div>
                </div>
            </div>
        </nav>

        <div class="col-10">
            <div class="container">
                <div class="row mt-3 mb-3">
                    <div class="col d-grid gap-2">
                        <div class="row">
                            <div class="col">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop">Adicionar
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                     data-bs-keyboard="false"
                                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Adicionar
                                                    Exercício</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <form action="" method="post">
                                                            <div class="row">
                                                                <div class="col-12 mb-3">
                                                                    <label for="inputDescricao"
                                                                           class="form-label">Descrição</label>
                                                                    <input type="text" id="inputDescricao"
                                                                           class="form-control"
                                                                           aria-labelledby="descricaoHelpBlock">
                                                                </div>
                                                                <div class="col-12">
                                                                    <label for="inputDescricao"
                                                                           class="form-label">Enunciado</label>
                                                                    <textarea class="form-control"
                                                                              id="exampleFormControlTextarea1"
                                                                              rows="3"></textarea>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Fechar
                                                </button>
                                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col d-grid gap-2">
                        <div class="d-flex justify-content-end">
                            <h3>Sala Virtual - Turma #1</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Enunciado</th>
                                    <th scope="col">Data de Cadastro</th>
                                    <th class="col-1" scope="col">Ações</th>
                                </tr>
                                </thead>
                                <tbody class="table-group-divider">

                                <tr>
                                    <th scope="row">1</th>
                                    <td>Exercício #1</td>
                                    <td>Este é o conteúdo do exercício #1</td>
                                    <td></td>
                                    <td>
                                        <div class="dropdown">
                                            <button aria-expanded="false" class="btn btn-secondary dropdown-toggle"
                                                    data-bs-toggle="dropdown" type="button">Ações
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Visualizar</a></li>
                                                <li><a class="dropdown-item" href="#">Editar</a></li>
                                                <li><a class="dropdown-item" href="#">Remover</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a aria-label="Previous" class="page-link" href="#">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a aria-label="Next" class="page-link" href="#">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>