<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>

<body>

<div class="container-fluid mt-5">

    <div th:replace="fragments/header :: header"></div>

    <div class="row">

        <div th:replace="fragments/nav :: nav"></div>

        <div class="col-lg-10 col-sm-12 px-5 my-2">
            <div class="container">
                <div class="row mt-5 mb-3">
                    <div class="d-flex justify-content-end">
                        <h3 th:text="${exercise.classroom.className}"></h3>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${exercise.title}"></h5>
                        <p class="card-text" th:text="${exercise.description}"></p>
                        <form th:action="@{/submission/save}" method="post" th:object="${submission}">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="privacy"
                                       th:field="*{privacy}">
                                <label class="form-check-label" for="privacy">Privado</label>
                            </div>
                            <div class="form-floating my-3">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea1"
                                          th:field="*{comment}" style="height: 100px"></textarea>
                                <label for="floatingTextarea1">Resposta</label>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-sm btn-primary"><i
                                        class="bi bi-check-lg me-2"></i>Responder
                                </button>
                            </div>
                            <input type="hidden" th:value="${exercise.uuid}" th:field="*{exercise.uuid}">
                            <input type="hidden" th:value="${user.uuid}" th:field="*{user.uuid}">
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Submissões</h5>
                        <div class="list-group list-group-flush"
                             th:if="${!submission.exercise.submissions.isEmpty()}">
                            <div class="list-group-item list-group-item-action" aria-current="true"
                                 th:each="sub: ${submission.exercise.submissions}" th:if="${activeAccess}">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1" th:text="${sub.user.name}"></h5>
                                    <small th:text="${#dates.format(sub.createdDate, 'dd-MM-yyyy HH:mm')}"></small>
                                </div>
                                <p class="mb-1" th:text="${sub.comment}"></p>

                                <!-- Button trigger modal -->
                                <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                   data-bs-toggle="modal" data-bs-target="#staticBackdrop" role="button"><small>
                                    Comentários</small>
                                </a>

                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Comentários -
                                                    @usuário</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="list-group list-group-flush">
                                                    <a href="#" class="list-group-item list-group-item-action"
                                                       aria-current="true">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <h5 class="mb-1">@usuário_comentarista</h5>
                                                            <small>3 days ago</small>
                                                        </div>
                                                        <p class="mb-1">Comentário do @usuário_comentarista.</p>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                    Fechar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-floating my-3">
                                    <textarea class="form-control" placeholder="Leave a comment here"
                                              id="floatingTextarea2"></textarea>
                                    <label for="floatingTextarea2">Comentário</label>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <a href="#" class="btn btn-sm btn-outline-primary"><i
                                            class="bi bi-send me-2"></i>Comentar</a>
                                </div>
                            </div>
                        </div>
                        <div class="list-group list-group-flush"
                             th:if="${submission.exercise.submissions.isEmpty()}">
                            <p class="fw-bold d-flex justify-content-center"><i
                                    class="bi bi-exclamation-circle me-2"></i>Nenhuma submissão cadastrada</p>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/footer :: footer"></div>

        </div>
    </div>
</div>


</body>
</html>