<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submissão</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>

<body>

<div class="container-fluid">

    <div th:replace="fragments/header :: header"></div>

    <div class="row">
        <div th:replace="fragments/nav :: nav"></div>

        <div class="col-lg-10 col-sm-12 px-5 mt-5 vh-100">
            <div class="container">
                <div class="row mt-5 mb-3">
                    <div class="d-flex justify-content-end">
                        <h3 th:text="${exercise.classroom.className}"></h3>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${exercise.title}"></h5>
                        <p class="card-text" th:text="${exercise.description}"></p>
                        <form th:action="@{/submission/save}" method="post" th:object="${submission}">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="privacy"
                                       th:field="*{privacy}">
                                <label class="form-check-label" for="privacy">Privado</label>
                            </div>
                            <div class="form-floating my-3">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea1"
                                          th:field="*{answer}" style="height: 100px"></textarea>
                                <label for="floatingTextarea1">Resposta</label>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-sm btn-primary"><i
                                        class="bi bi-check-lg me-2"></i>Responder
                                </button>
                            </div>
                            <input type="hidden" th:value="${exercise.uuid}" th:field="*{exercise.uuid}">
                            <input type="hidden" th:value="${user.uuid}" th:field="*{user.uuid}">
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Submissões</h5>
                        <div th:if="${!exercise.submissions.isEmpty()}">
                            <div class="list-group-item list-group-item-action" aria-current="true"
                                 th:each="sub, i: ${exercise.submissions}">
                                <div th:if="${sub.isActive()}">
                                    <div sec:authorize="hasRole('S')">
                                        <div th:if="${sub.user.uuid != session.foundUser.uuid}">
                                            <div th:if="${!sub.isPrivacy()}">
                                                <div th:replace="fragments/subs :: paging(${i.index}, ${sub}, ${comments})"></div>
                                            </div>
                                        </div>
                                        <div th:if="${sub.user.uuid == session.foundUser.uuid}">
                                            <div th:if="${sub.isPrivacy()}">
                                                <div th:replace="fragments/subs :: paging(${i.index}, ${sub}, ${comments})"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div sec:authorize="hasAnyRole('T','M')">
                                        <div th:if="${sub.user.uuid == session.foundUser.uuid}">
                                            <div th:replace="fragments/subs :: paging(${i.index}, ${sub}, ${comments})"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group list-group-flush"
                                 th:if="${exercise.submissions.isEmpty()}">
                                <p class="fw-bold d-flex justify-content-center"><i
                                        class="bi bi-exclamation-circle me-2"></i>Nenhuma submissão cadastrada</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:replace="fragments/footer :: footer"></div>

            </div>
        </div>
    </div>
</div>
</body>
</html>